*, body {
	margin: 0;
	padding: 0;
	font-family: "Tahoma", "Trebuchet MS", "Arial", "Helvetica";
	font-size: 14px;
}

.container {
	
}

.searchdiv {
	padding: 12px;
	background-color: #D2691E;
}

#searchusername, #searchbutton, #downloadbutton {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #888888;
}

#searchbutton:hover, #downloadbutton:hover {
	cursor: pointer;
}

#result {
	padding: 20px 12px 12px 12px;
}